.container {
  max-width: 340px;
  margin: 50px auto 30px auto;
  border: 2px solid black;
  border-radius: 2%;
  font-family: Arial;
  overflow: hidden;
}

.infoCard {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.image {
  margin: 10px auto 10px auto;
  width: 40%;
  border-radius: 50%;
  background-color: rgb(35, 35, 35);
}

.name {
  font-size: 20px;
  font-weight: 800;
}

.tag {
  color: rgb(132, 132, 132);
}

.location {
  color: rgb(132, 132, 132);
}

.list {
  display: flex;
  list-style: none;
  margin-top: 10px;
  justify-content: center;
}

.item {
  background-color: rgb(219, 217, 217);
  border-top: 2px solid rgb(138, 138, 138);
  padding: 10px 0px;
  text-align: center;
  width: 112px;
}

.item:nth-child(2) {
  border-left: 2px solid rgb(138, 138, 138);
  border-right: 2px solid rgb(138, 138, 138);
}

.title {
  display: block;
  font-size: 18px;
  font-weight: 400;
}

.quantity {
  font-size: 18px;
  font-weight: 700;
}
